{% extends 'base.html' %}
{% block title %}
    BLOG | All Posts
{% endblock title %}
{% block content %}
    <main>
        <div class="container">
            <div class="page-top">
                <div class="top flex">
                    <div class="page-name">
                        <a href="{% url 'index' %}" class="learn">
                            <span class="material-icons"> keyboard_return </span> Go back
                        </a>
                        <h1>All Posts</h1>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <section class="sp">
        <div class="container">
            <div class="blog-tags">
                {% for post in posts %}
                    <p class="tag">
                        <a  style="color: white;" href="{% url 'post_page' post.slug %}">
                            {{ post.title | title }}
                        </a>
                    </p>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock content %}