{% extends 'base.html' %}
{% block title %}
  BLOG | HOME
{% endblock %}
{% block content %}
  <main class="sp">
    <div class="container">
      <center>
        <div class="search-bar">
          <input type="text" placeholder="Search" />
          <a href="{% url 'search' %}" class="animated-search" onclick="searchbar()">
              <i class="uil uil-search"></i>
          </a>
        </div>
        <div class="typo">
          {% if website_info %}
            <h1 class="title">{{ website_info.title }}</h1>
            <p>{{ website_info.description | safe | slice:':50' }}</p>
          {% else %}
            <h1 class="title">Website blog title</h1>
            <p>Lorem ipsum began as scrambled, nonsensical Latin derived from
                Cicero's 1st-century BC text De Finibus Bonorum et Malorum.</p>
          {% endif %}
        </div>
        <div class="newsletter">
          {% if not request.session.subscribed %}
            <form method="post">
              {% csrf_token %}
              {{ subscribe_form }}
              <button class="btn btn-primary">Subscribe</button>
            </form>
          {% endif %}
          {% if subscribe_successful %}
            <p>{{ subscribe_successful }}</p>
          {% endif %}
        </div>
      </center>
    </div>
  </main>
  {% if featured_post %}
    <section class="sp">
      <div class="container">
        <div class="grid-2">
          <div class="post-img">
            <img src="{{ featured_post.image.url }}" alt="" />
          </div>
          <div class="post-content">
            <a href="{% url 'tag_page'  featured_post.tags.all.0.slug %}" class="cetagory" style="color:white">
              {{ featured_post.tags.all.0.name }}
            </a>
            <h1>{{ featured_post.title|safe|title }}</h1>
            <p class="des">{{ featured_post.content | safe | slice:':50' }}</p>
            <a class="learn" href="{% url 'post_page' featured_post.slug %}">
                Learn more <span class="material-icons">trending_flat</span>
            </a>
          </div>
        </div>
      </div>
    </section>
  {% endif %}
  <section class="sp">
    <div class="container">
      <h1 class="sec-title">Top Posts</h1>
      <div class="grid-3">
        {% for post in top_posts %}
          <!-- card -->
          <a href="{% url 'post_page' post.slug %}">
            <div class="card">
              <div class="post-img">
                <img src="{{ post.image.url }}" alt="" />
                <div class="tag">{{ post.tags.all.0.name }}</div>
              </div>
              <div class="card-content">
                <h3>{{ post.title | safe | title }}</h3>
                <div class="author">
                  <div class="profile-pic">
                    <img src="{{ post.author.profile.profile_image.url }}" alt="" />
                  </div>
                  <div class="details">
                    {% if post.author.first_name and post.author.last_name %}
                      <p>{{ post.author.first_name | title }} {{ post.author.last_name | title }}</p>
                    {% else %}
                      <p>{{ post.author.username | title }}</p>
                    {% endif %}
                    <small>{{ post.last_updated | date }}</small>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <!-- card end -->
        {% endfor %}
      </div>
      <center>
        <a href="{% url 'all_posts' %}">
            <button class="btn btn-primary rounded view"
            >View more <span class="material-icons">trending_flat</span>
            </button>
        </a>
      </center>
    </div>
  </section>
  <section class="sp">
    <div class="container">
      <h1 class="sec-title">Recent Posts</h1>
      <div class="grid-3">
        {% for post in recent_posts %}
          <!-- card -->
          <a href="{% url 'post_page' post.slug %}">
            <div class="card">
              <div class="post-img">
                <img src="{{ post.image.url }}" alt="" />
                <div class="tag">{{ post.tags.all.0.name }}</div>
              </div>
              <div class="card-content">
                <h3>{{ post.title | safe | title }}</h3>
                <div class="author">
                  <div class="profile-pic">
                    <img src="{{ post.author.profile.profile_image.url }}" alt="" />
                  </div>
                  <div class="details">
                    {% if post.author.first_name and post.author.last_name %}
                      <p>{{ post.author.first_name | title }} {{ post.author.last_name | title }}</p>
                    {% else %}
                      <p>{{ post.author.username | title }}</p>
                    {% endif %}
                    <small>{{ post.last_updated | date }}</small>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <!-- card end -->
        {% endfor %}
      </div>
      <center>
        <a href="{% url 'all_posts' %}">
            <button class="btn btn-primary rounded view">
                View more <span class="material-icons">trending_flat</span>
            </button>
        </a>
      </center>
    </div>
  </section>
{% endblock %}
