{% extends 'base.html' %}
{% block title %}
  BLOG | {{ tag.name | title }}
{% endblock %}
{% block content %}
  <div class="container">
    <div class="layout">
      <!-- left layout -->
      <div class="left">
        <div class="page-top">
          <div class="top flex">
            <div class="page-name">
              <a href="{% url 'index' %}" class="learn">
                  <span class="material-icons">keyboard_return</span> Go back
              </a>
              <h1>Tag</h1>
            </div>
          </div>
        </div>
        <center>
          <div class="typo">
            <h1 class="title">{{ tag.name | title }}</h1>
            <p>{{ tag.description | safe }}</p>
          </div>
        </center>
        <section class="sp">
          <div class="container">
            <h1 class="sec-title">Top Posts</h1>
            <div class="grid-3 blog-grid">
              {% for post in top_posts %}
                <!-- card -->
                <a href="{% url 'post_page' post.slug %}">
                  <div class="card">
                    <div class="post-img">
                      <img src="{{ post.image.url }}" alt="" />
                      <div class="tag">{{ post.tags.all.0.name }}</div>
                    </div>
                    <div class="card-content">
                      <h3>{{ post.title | title }}</h3>
                      <div class="author">
                        <div class="profile-pic">
                          <img src="{{ post.author.profile.profile_image.url }}" alt="" />
                        </div>
                        <div class="details">
                          {% if post.author.first_name and post.author.last_name %}
                            <p>{{ post.author.first_name | title }} {{ post.author.last_name | title }}</p>
                          {% else %}
                            <p>{{ post.author.username | title }}</p>
                          {% endif %}
                          <small>{{ post.last_updated | date }}</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
                <!-- card end -->
              {% endfor %}
            </div>
            <center>
                <a href="{% url 'all_posts' %}">
                    <button class="btn btn-primary rounded view">
                        View more <span class="material-icons">trending_flat</span>
                    </button>
                </a>
            </center>
          </div>
        </section>
        <section class="sp">
          <div class="container">
            <h1 class="sec-title">Recent Posts</h1>
            <div class="grid-3 blog-grid">
              {% for post in recent_posts %}
                <!-- card -->
                <a href="{% url 'post_page' post.slug %}">
                  <div class="card">
                    <div class="post-img">
                      <img src="{{ post.image.url }}" alt="" />
                      <div class="tag">{{ post.tags.all.0.name }}</div>
                    </div>
                    <div class="card-content">
                      <h3>{{ post.title | title }}</h3>
                      <div class="author">
                        <div class="profile-pic">
                          <img src="{{ post.author.profile.profile_image.url }}" alt="" />
                        </div>
                        <div class="details">
                          {% if post.author.first_name and post.author.last_name %}
                            <p>{{ post.author.first_name | title }} {{ post.author.last_name | title }}</p>
                          {% else %}
                            <p>{{ post.author.profile.user.username | title }}</p>
                          {% endif %}
                          <small>{{ post.last_updated | date }}</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
                <!-- card end -->
              {% endfor %}
            </div>
            <center>
                <a href="{% url 'all_posts' %}">
                    <button class="btn btn-primary rounded view">
                        View more <span class="material-icons">trending_flat</span>
                    </button>
                </a>
            </center>
          </div>
        </section>
      </div>
      <!-- left layout end -->

      <!-- right layout -->
      <div class="right">
        <div class="block">
          <h2 class="title2">Top Tags</h2>
          <div class="blog-tags">
            {% for tag in top_tags %}
              <a class="tag" href="{% url 'tag_page' tag.slug %}">{{ tag.name }}</a>
            {% endfor %}
          </div>
        </div>
        <div class="block">
          <h2 class="title2">Other Tags</h2>
          <div class="blog-tags">
            {% for tag in other_tags %}
              <a class="tag" href="{% url 'tag_page' tag.slug %}">{{ tag.name }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
      <!-- right layout end -->
    </div>
  </div>
{% endblock %}
